@{
    ViewData["Title"] = "Лента новостей";
}
@using SurfClub.Helpers
@model Post;


<div class="d-flex flex-column">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
         <form method="post" asp-controller="Home" asp-action="SavePost" enctype="multipart/form-data">
            <div class="modal static-modal" tabindex="-1">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header justify-content-start modal-color">
                            <label>Добавление новой записи</label>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label asp-for="Text" class="form-label"></label>
                                <textarea asp-for="Text" type="text" class="form-control" rows="5" maxlength="4095"></textarea>
                                <span asp-validation-for="Text"></span>
                            </div>

                            <div class="d-flex justify-content-between mt-3">

                                <div class="mb-3">
                                    <label for="formFileSm" class="form-label">Прикрепить изображение</label>
                                    <input class="form-control form-control-sm" id="formFileSm" type="file" name="photo">
                                </div>

                                <div class="d-inline-block align-self-end">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }

    @if (ViewBag.Posts != null)
    {
        @foreach (Post post in ViewBag.Posts)
        {
            <div class="modal static-modal" tabindex="-1">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header modal-color justify-content-start pt-0 pb-0">
                            <div>
                                @if (@post.Author.Photo != null)
                                {
                                    var authorPhotoUrl = ImageHelper.GetUrl(post.Author.Photo);
                                    <img src="@Url.Content(authorPhotoUrl)" height="30" width="30" style="border-radius: 50%"/>
                                }
                                else 
                                {
                                    <img src="~/images/avatarka.jpg"  height="30" width="30" style="border-radius: 50%"/>
                                }
                            </div>
                            <div class="ms-2">
                                <label class="fs-5 fw-normal d-block">@post.Author.UserName</label>
                                @{
                                    var date = post.CreateDate.Date.ToString("dd.MM.yyyy");
                                    var time = post.CreateDate.ToString("HH:mm");
                                    var postDate = date + " в " + time;
                                }
                                <label class="fs-7 fw-light">@postDate</label>
                            </div>
                        </div>

                        <div class="modal-body">
                            @if (!string.IsNullOrEmpty(@post.Text))
                            {
                                <p style="white-space:pre-wrap">@post.Text</p>
                            }
                            @if (@post.Photo.HasValue)
                            {
                                var photoUrl = ImageHelper.GetUrl(post.Photo);
                                <img src="@Url.Content(photoUrl)" class="mw-100 mx-auto d-block"/>
                            }
                        </div>

                        <div class="modal-footer modal-color">
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>